@model Lageros.Models.ZamjenaToner

@{
    ViewData["Title"] = "Create";
}

<h1>Nova zamjena tonera</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-success"></div>
            <div class="form-group">
                <label asp-for="PrinterId" class="control-label"></label>
                <select asp-for="PrinterId" class="form-control" asp-items="ViewBag.PrinterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TonerId" class="control-label"></label>
                <select asp-for="TonerId" class="form-control" asp-items="ViewBag.TonerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DatumZamjene" class="control-label"></label>
                <input asp-for="DatumZamjene" class="form-control" />
                <span asp-validation-for="DatumZamjene" class="text-success"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminKorisnikId" class="control-label"></label>
                <select asp-for="AdminKorisnikId" class="form-control" asp-items="ViewBag.AdminKorisnikId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="SPREMI" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-dark">Nazad na listu zamjene tonera</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
