@using Microsoft.AspNetCore.Identity
@using Lageros.Areas.Identity.Data

@inject SignInManager<LagerosUser> SignInManager
@inject UserManager<LagerosUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="btn btn-outline-success dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Printeri
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item class=" green"" asp-area="" asp-controller="Printers" asp-action="">Printeri</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Toners" asp-action="">Toneri</a>
                    <a class="dropdown-item" asp-area="" asp-controller="ZamjenaToners" asp-action="">Zamjena Tonera</a>
                    <a class="dropdown-item" asp-area="" asp-controller="NabavaToneras" asp-action="">Nabava Tonera</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="btn btn-outline-success font-weight-bold dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lager
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="Laptops" asp-action="">Laptopi</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Monitors" asp-action="">Monitori</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Periferijas" asp-action="">Periferija</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Izdavanjes" asp-action="">Izdavanje</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="btn btn-outline-success font-weight-bold dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ADMIN
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="AdminKorisniks" asp-action="">Admin Korisnici</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Korisniks" asp-action="">Korisnik</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Sektors" asp-action="">Sektor</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</a>
                </li>
                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="btn btn-outline-success">Logout</button>
                    </form>
                </li>
            }
        </ul>
    </div>
    <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
}




