@model Lageros.Models.Sektor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Uredi</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-success"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NazivSektora" class="control-label"></label>
                <input asp-for="NazivSektora" class="form-control" />
                <span asp-validation-for="NazivSektora" class="text-success"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SPREMI" class="btn btn-success" /> |
                <input type="submit" asp-action="Index" value="Nazad na listu sektora" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>
