@model Lageros.Models.Korisnik

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Novi korisnik</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-success"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-success"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-success"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-success"></span>
            </div>
            <div class="form-group">
                <label asp-for="SektorId" class="control-label"></label>
                <select asp-for="SektorId" class ="form-control" asp-items="ViewBag.SektorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="SPREMI" class="btn btn-success" /> |
                <input type="submit" asp-action="Index" value="Nazad na listu korisnika" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

